<%= form_for(@message,html:{class:"form-horizontal"}) do |f| %>

  <% if @message.errors.present? %>
    <div class="alert alert-danger">
      <%= alert %>
      <ul>
        <% @message.errors.full_messages.each do |full_message| %>
          <li>
            <%= full_message %>
          </li>
        <% end %> 
      </ul>
    </div>
  <% end %>

<div class="boxin">
  <div class="form-group">
         <div class="col-md-2 control-label"><label for="exampleInputName2">募集タイトル：</label></div>
         <div class="col-md-10"><%= f.text_field :title,class:"form-control",id:"exampleInputName2",placeholder:"【急募】　プログラマ―募集" %></div>
  </div>  
  
  <div class="form-group">
         <div class="col-md-2 control-label"><label for="exampleInputName2">仕事の内容：</label></div>
         <div class="col-md-10"><%= f.text_area :body,class:"form-control",id:"exampleInputEmail2",placeholder:"プログラミング業務など" %></div>
  </div> 
      
  <div class="form-group">
         <div class="col-md-2 control-label"><label for="exampleInputName2">対象年齢：</label></div>
         <div class="col-md-1"><%= f.text_field :age,class:"form-control",id:"exampleInputName2",placeholder:"20" %></div>
         <div class="col-md-9">歳まで</div>
  </div> 
  
  <div class="form-group">
         <div class="col-md-2 control-label"><label for="exampleInputName2">勤務地：</label></div>
         <div class="col-md-10"><%= f.text_field :station,class:"form-control",id:"exampleInputEmail2",placeholder:"東京・横浜" %></div>
  </div> 
  
  <div class="form-group">
         <div class="col-md-2 control-label"><label for="exampleInputName2">投稿者：</label></div>
         <div class="col-md-4"><%= f.text_field :name,class:"form-control",id:"exampleInputName2",placeholder:"田中花子" %></div>
  </div> 
  
  <div class="form-group">
         <div class="col-md-2 control-label"><label for="exampleInputName2">連絡先メール：</label></div>
         <div class="col-md-4"><%= f.text_field :mail,class:"form-control",id:"exampleInputName2",placeholder:"hana@gmial.com" %></div>
  </div> 
  
  <div class="form-group">
    <div class="col-md-2"></div>
    <div class="col-md-10"><%= f.submit "投稿する",  class:"btn btn-primary" %></div>
  </div>
</div>
<% end %>
